.swipe-gallery {
  position: relative;
  margin-bottom: rem-calc(28);
  overflow-y: hidden;
  @include breakpoint(medium down) {
    padding-left: 1.25rem;
  }
  .wp-block-gallery {
    @include breakpoint(medium down) {
      padding-left: 1.25rem;
      margin-left: 0;
    }
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    right: 0;
    width: 11.316%;
    top: 0;
    background: -webkit-gradient(linear, right top, left top, from(#0C0011), to(rgba(12,0,17,0)));
    background: linear-gradient(270deg, #0C0011 0%, rgba(12,0,17,0) 100%);
  }
  // &::before {
  //   content: '';
  //   position: absolute;
  //   right: 5%;
  //   top: rem-calc(95);
  //   background-image: url(../../dist/images/arrow-gallery.svg);
  //   width: rem-calc(24);
  //   height: rem-calc(24);
  //   z-index: 9;
  // }
  ul{
    display: block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline-grid;
      margin-right: rem-calc(30);
      margin-bottom: 0;
      &::before {
        display: none;
      }
    }
    img {
      width: rem-calc(190);
      height: rem-calc(190);
      border-radius: 5px;
      object-fit: cover;
    }
    figure a{
      position: relative;
      display: block;
      &:after {
        content: '';
        position: absolute;
        width: rem-calc(24);
        height: rem-calc(24);
        bottom: .5rem;
        right: 2.5rem;
        display: none;
        background-image: url("../../dist/images/search-white.svg");
        transition: 0.3s;
      }
    }
    figure:hover a:after {
      display: block;
    }
  }
  .simplebar-track.simplebar-horizontal {
    display: none;
  }
  &__search {
    width: rem-calc(24);
    height: rem-calc(24);
    position: absolute;
    bottom: rem-calc(8);
    left: rem-calc(8);
    z-index: 2;
    @include breakpoint(medium down) {
      left: rem-calc(25);
    }
  }
  figcaption, span {
    display: none;
  }
  .slick-next {
    right: rem-calc(40);
    z-index: 2;
    background-image: url(../../dist/images/arrow-gallery.svg);
    width: rem-calc(24);
    height: rem-calc(24);
    &::before {
      display: none;
    }
  }
  .slick-prev {
    left: 20px;
    z-index: 2;
    background-image: url(../../dist/images/arrow-gallery.svg);
    width: rem-calc(24);
    height: rem-calc(24);
    transform: rotate(180deg);
    margin-top: rem-calc(-10);
    &::before {
      display: none;
    }
  }
}