<div id="{{ block.id }}" class="before-after" data-easygut-id="beforeafter">
  <div class="cocoen">
    <img src="{{ fields.image_1 }}" alt="">
    <img src="{{ fields.image_2 }}" alt="">
  </div>
  <figcaption>{{ fields.description }}</figcaption>
</div>