<div id="{{ block.id }}" class="e-commerce" data-easygut-id="ecommerce">
  <img src="{{ fields.image }}" alt="{{ fields.name }}">
  <div class="e-commerce__footer">
    <div class="e-commerce__name">{{ fields.name }}</div>
    {% if fields.url %}
      <div><a class="btn btn--e-commerce" href="{{ fields.url }}">Gdzie kupić?</a></div>
    {% endif %}
  </div>
</div>