<div id="{{ block.id }}" class="row large-uncollapse medium-uncollapse small-uncollapse" data-easygut-id="populartopics">
  <div class="large-12 small-12 medium-12 column">
    <div class="popular-topics">
      <div class="post__tags">
        <div class="post__tags__title">{{ fields.title }}</div>
        <div class="post__tags__list" data-simplebar>
          {% for tag in fields.wybierz_tagi %}
            <div class="label">{{ tag.name }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>