<div id="{{ block.id }}" class="gallery swipe-gallery" itemscope itemtype="http://schema.org/ImageGallery" data-easygut-id="swipegallery">
  <ul class="SlickPhotoswipGallery">
  {% for image in fields.gallery_images  %}
    <li><figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a href="{{ image.url }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}"><img src="{{ image.url }}" itemprop="thumbnail" alt="{{ image.alt }}" /></a><figcaption itemprop="caption description">{{ image.caption }}</figcaption></figure></li>
  {% endfor %}
  </ul>
</div>