<div id="{{ block.id }}" class="medium-post row large-uncollapse medium-uncollapse small-uncollapse" data-easygut-id="mediumposts">
  {% for post in posts|slice(0,1) %}
    <div class="large-8 small-12 medium-12 columns post-boks-big rwd-m">{% include 'views/parts/PostBoks.twig' %}</div>
  {% endfor %}

  {% for post in posts|slice(1,2) %}
    <div class="large-4 small-12 medium-12 columns rwd-m">{% include 'views/parts/PostBoks.twig' %}</div>
  {% endfor %}
</div>