.grid, .swidth {
  width: 100%;
}
.element-item {
  width: 33.33333%;
  padding-right: .9375rem;
  padding-left: .9375rem;
  @include breakpoint(medium down) {
    width: 100%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.medium-post__filter {
  .btn.btn--big {
    text-align: left;
    padding-left: rem-calc(39);
    padding-right: rem-calc(39);
    font-size: rem-calc(21);
    text-transform: unset;
    @include breakpoint(medium down) {
      font-size: rem-calc(14);
      padding-left: rem-calc(16);
      padding-right: rem-calc(16);
      text-align: center;
      line-height: 1;
    }
  }
}