{% if fields.first_isotope_block %}

<div id="{{ block.id }}" class="promo-post" data-easygut-id="isotopeposts">   
  <div class="medium-post ">
    <div class="row large-uncollapse medium-uncollapse  small-uncollapse ">
      <div class="medium-post__filters button-group filters-button-group">
        <div class="medium-post__filter"><button class="btn btn--big" data-filter="*">Wszystkie</button></div>
        {% for field in fields.filters %}
          <div class="medium-post__filter"><button class="btn btn--big" data-filter=".{{ field.name }}">{{ field.name }}</button></div>
        {% endfor %}
      </div>
    </div>
    <div class="row large-uncollapse medium-uncollapse small-uncollapse ">
      <div class="large-12 swidth">
        <div class="grid">

{% endif %}

          {% for post in posts %}
            <div class="element-item {{ post.nrm_categorys }}">
              {% include 'views/parts/PostBoks.twig' %}
            </div>
          {% endfor %}

{% if fields.last_isotope_block %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}