.test-platform {
  &__item {
    font-size: 18px;
    padding: rem-calc(16) 0;
    @include breakpoint(medium down) {
      padding: rem-calc(5) 0;
      overflow: scroll;
    }
    display: flex;
    border-bottom: 1px solid #593568;
    div {
      flex: 0 0 40%;
      font-family: 'Red Hat Display', sans-serif;
      @include breakpoint(medium down) {
        flex: 0 0 50%;
      }
    }
    .value {
      font-weight: 700;
      @include breakpoint(medium down) {
        flex: none;
      }
    }
  }
  &__title {
    border-bottom: 1px solid #593568;
    padding-bottom: rem-calc(28);
    font-size: rem-calc(30);
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
  }
}