<div id="{{ block.id }}" class="row large-uncollapse medium-uncollapse small-uncollapse publication-counter" data-easygut-id="publicationcounter">
  <div class="large-12 small-12 medium-12 columns">
    <div class="home__title">
      <span>Tekstów opublikowanych dzisiaj:&nbsp;</span> {{ post_count }}
    </div>
  </div>
</div>