{% block header %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="{{ function( 'language_attributes' ) }}" > <![endif]-->
<html {{ function( 'language_attributes' ) }}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ function( 'wp_head' ) }}
<!-- /Yandex.Metrika counter -->
</head>
<body {{ function( 'body_class' ) }}>
{% include 'views/parts/header.twig' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
  {% include 'views/parts/footer.twig' %}
  {{ function( 'wp_footer' ) }}
  </body>
</html>
{% endblock %}
