.post-contents {
  @include themed() {
    background-color: t('contents-color');
    padding: rem-calc(30);
    border-radius: 5px;
  }
  margin-top: rem-calc(29);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(medium down) {
      flex-direction: column;
    }
  }
  &__title {
    font-size: 31px;
    line-height: 38px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    flex: 0 1 78%;
    span {
      display: none;
    }
    .post-contents__btn {
      margin-top: 0;
    }
    .post-contents__btn.hide {
      display: none;
    }
  }
  &__title span.active {
    display: block;
  }
  &__open {
    font-size: 12px;
    line-height: 15px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    @include breakpoint(medium down) {
      margin-top: 1.875rem;
      line-height: 1;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__list {
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    margin-top: rem-calc(40);
    display: none;
    a {
      @include themed() {
        color: t('secend-text-color'); 
      }
      font-size: 18px;
      line-height: 40px;
      font-weight: normal; 
      &:hover {
        @include themed() {
          color: t('category-color'); 
          font-weight: bold;
        }
      }
    }
    a.active {
      @include themed() {
        color: t('category-color'); 
        font-weight: bold;
      }
      &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        top: 15px;
        left: -20px;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
        border-right: 2px solid #230032;
        border-bottom: 2px solid #230032;
      }
    }
  }
  &__footer.open {
    display: flex;
    justify-content: space-between;
    .post-contents__btn {
      flex: 0 0 70%;
    }
    .post-contents__btn--back {
      flex: 0 0 27%;
    }
  }
  &__btn {
    margin-top: rem-calc(25);
    flex: 0 0 100%;
    a {
      @include themed() {
        border: 1px solid t('border-contents-color');
        background: t('fill-contents-color');
        color: t('heading-color');
      }
      border-radius: 5px;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: rem-calc(15);
      font-size: 12px;
      line-height: 15px;
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        color: #fff !important;
        background-color: #593568 !important;
      }
    }
  }
}