<style>
  body {
    padding: 0;
    margin: 0;
  }
  .coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EDEDED;
    flex-direction: column;
  }
</style>
<div class="coming-soon">
  <div><img src="app/themes/nroom/dist/images/logo-white.svg" alt="search" /></div>
  <h1>Wracamy wkrótce w nowej odsłonie</h1>
</div>