{% extends "/layouts/base.twig" %}

{% block content %}
<div id="post-0" class="container {{ post.nrm_extra }}" data-id="{{ post.id }}" data-past-post={{ function('get_previuos_posts_id', post.id ) }}>
  <div class="post">
    <div class="post__header" {{ post.nrm_extra_thubnail }}>
      <div class="row medium-uncollapse small-uncollapse large-uncollapse">
        <div class="large-12 small-12 medium-12 column">

          <div class="post__header__content">
            {% if not post.nrm_extra %}
              <div class="post__cat">{{ post.nrm_top_level_categories }}</div>
            {% endif %}
            
            <h1 class="post__title">{{ post.nrm_title }}</h1>
            <div class="post__infos">
              <div class="post__info">
                <div class="post__author">
                  <div class="post__author__img"><a href="{{ post.nrm_author.link }}"><img src="{{ post.nrm_author.avatar }}" alt="author"></a></div>
                  <div class="post__author__txt">
                    <div class="post__author__name"><a href="{{ post.nrm_author.link }}">{{ post.nrm_author.name }}</a></div>
                    <div class="post__date">{{ post.nrm_date }}</div>
                  </div>
                </div>
              </div>
              <div class="post__labels">
                {{ post.nrm_product_placement }}
                {{ post.nrm_hot_title }}
                {{ post.nrm_brend }}
                {% if comments_open %}
                  {{ post.nrm_comments_btn }}
                {% endif %}
              </div>
            </div>
          </div>
          

          {% if not post.nrm_extra %}
            <div class="post__thumbnail lazyload" data-bg="{{ post.nrm_image_src.oryginal }}" style="background-image: url({{ post.nrm_image_src.lqip }});"></div>
          {% endif %}

        </div>
      </div>
    </div>

    

      {% if not post.nrm_extra %}
      <div class="row medium-collapse small-collapse large-uncollapse">
        <div class="large-8 small-12 medium-12 columns">
      {% endif %}

        <div class="post__content">
          {# <button id="btn" class="btn btn--big">Open PhotoSwipe</button> #}
          <div id="firstPost" style="height:1px"></div>
          {{ post.content }}

          {% if pages %}

          <div class="post-contents">
            <div class="post-contents__header">
              <div class="post-contents__title">
                <span>Spis treści:</span>
                <div class="post-contents__btn">
                  {% if contents_link_next %}
                    <a href="{{ contents_link_next.link }}">PRZEJDŹ DO {{ contents_link_next.page_number }} STRONY: {{ contents_link_next.title }}</a>
                  {% else %}
                    <a href="{{ post.link }}">WRÓĆ DO STRONY 1</a>
                  {% endif %}
                </div>
              </div>
              <div class="post-contents__open">Pokaż cały spis treści</div>
            </div>
            <div class="post-contents__list">
              {% for link in contents_links %}
                <div>{{ link }}</div>
              {% endfor %}
              {% if contents_link_next %}
                <div class="post-contents__footer {{ contents_link_back }}">
                  {% if contents_link_back %}
                    <div class="post-contents__btn post-contents__btn--back">
                      <a href="{{ post.link }}">WRÓĆ DO STRONY 1</a>
                    </div>
                  {% endif %}
                  <div class="post-contents__btn">
                    <a href="{{ contents_link_next.link }}">PRZEJDŹ DO {{ contents_link_next.page_number }} STRONY: {{ contents_link_next.title }}</a>
                  </div>
                </div>
              {% else %}
                <div class="post-contents__btn post-contents__btn--back">
                  <a href="{{ post.link }}">WRÓĆ DO STRONY 1</a>
                </div>
              {% endif %}
            </div>
          </div>

          {% endif %}

        </div>
        <div id="post__footer" class="post__footer">
          <div class="post__share">
            <a href="{{ post.nrm_share_links.facebook }}" class="btn btn--fb socialrev">Udostępnij na FB</a>
            <a href="{{ post.nrm_share_links.mesenger }}" class="btn btn--msg socialrev"><span>Wyślij przez Messenger</span></a>
            <a href="{{ post.nrm_share_links.twiter }}" class="btn btn--twiter socialrev"><img src="{{ theme.link }}/dist/images/twitter.svg" alt="twitter" /></a>
          </div>
          <div class="post__tags">
            <div class="post__tags__title">TAGI:</div>
            <div class="post__tags__list">
              {% for tag in post.tags %}
                <a href="{{ function('get_tag_link', tag.id ) }}" class="label">{{ tag.name }}</a> 
              {% endfor %}
            </div>
          </div>
          
          {# <div class="read-more">
            <div class="read-more__heading">
              <div class="read-more__title">{{ fields.title }}</div>
            </div>
            <div class="medium-post read-more__slider" data-equalizer>
              {% for post in sidebar_posts %}
                <div class="read-more__slide" data-equalizer-watch>{% include 'views/parts/PostBoks.twig' %}</div>
              {% endfor %}
            </div>
          </div> #}

          {# <div><a id="show-coments" class="btn btn--big">Pokaż komentarze</a></div> #}
          {% if comments_open %}
            <div class="showDisqus btn btn--big" data-title="{{ post.title }}" data-id="{{ theme.link }}/?p={{ post.ID }}" data-url="{{ post.link }}">Pokaż komentarze</div>
          {% endif %}
        </div>
      
      {% if not post.nrm_extra %}
        </div>
      {% endif %}

      {% if not post.nrm_extra %}
        <div class="post__sidebar large-4 small-12 medium-12 columns">
          {% for post in sidebar_posts %}
            {% include 'views/parts/PostBoks.twig' %}
          {% endfor %}
          <div style="text-align: center;"><a href="https://xtreem.pl/30-plyty#/producent-gigabyte/chipset-intel_z390_chipset" target="_blanck"><img src="https://cdn.whatnext.pl/uploads/2019/12/320.jpg" alt=""></a></div>
        </div>
      {% endif %}

    {% if not post.nrm_extra %}
      </div>
    {% endif %}
  </div>
</div>


<div id="previousPost"></div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>

{% endblock %}