/* font-family: 'Red Hat Display', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap&subset=latin-ext');

@font-face {
  font-family:"Gilroy";
  src:url("gilroy/gilroy-extrabold.woff2") format("woff2"),url("gilroy/gilroy-extrabold.woff") format("woff"),url("gilroy/gilroy-extrabold.otf") format("opentype");
  font-style:normal;font-weight:700;
}