// Youtube
.wp-block-embed.is-type-video {
  iframe {
    @include breakpoint(medium down) {
      width: 100%;
      height: 30.7645vh
    }
  }
}

//Twiter {
figure.wp-block-embed-twitter {
  @include breakpoint(medium up) {
    margin-left: calc(5.625rem + 4 * 0.9375rem);
    margin-right: calc(8.33333% + 2 * 0.9375rem);
  }
  twitter-widget {
    width: 100% !important;
    max-width: 100% !important;
  }
}

twitterwidget::shadow .EmbeddedTweet {
  width: 100% !important;
  max-width: 100% !important;
}

// Instagram 
figure.wp-block-embed-instagram {
  margin-left: calc(5.625rem + 2 * 0.9375rem);
  margin-right: calc(5.625rem + 2 * 0.9375rem);
  iframe {
    max-width: 100% !important;
  }
}

.wp-block-embed-facebook {
  .span,
  iframe {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.fb_iframe_widget {
  width: 100%;
  span {
    width: 100% !important;
  }
}