@charset 'utf-8';

@import 'foundation-sites/scss/foundation';

@include foundation-flex-grid;
@import '../fonts/theme-font/fonts.css';
@import '../scss/colors';
@import '../../blocks/badges/badges';
@import '../scss/components/big-post'; 
@import '../scss/components/labels'; 
@import '../scss/components/medium-post'; 
@import '../scss/components/post-boks'; 
@import '../scss/components/promo-post'; 
@import '../scss/components/special'; 
@import '../scss/components/typography'; 

.only-for-redaction {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  p {
    margin-bottom: -18px;
    margin-top: 0;
  }
}