@mixin button-lines {
  @include themed() {
    background: t('heading-color'); 
  }
  border-radius: $nav-toggle-size/10;
  display: block;
  height: 2px;
  width: $nav-toggle-size;
}

$color-white:                  #CCCCCC;
$nav-toggle-size:              1.5rem;
$nav-toggle-transition-speed:  .3s;
$nav-transition-speed:         .6s;
$nav-width:                    100vw;
$header-height:                80px;

.button-lines {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  margin-left: rem-calc(24);
}

.lines {
  @include button-lines;
  position: relative;
  
  &:after,
  &:before {
    @include button-lines;
    width: 1.2rem;
    content: "";
    left: 0;
    position: absolute;
  }

  &:after {
    top: $nav-toggle-size/4;
  }
  
  &:before {
    top: -$nav-toggle-size/4;
  }
}

.button-lines-x {
  .lines {
    transition: background .3s ease;

    &:after,
    &:before {
      transform-origin: 50% 50% 0;
      transition: top .3s .4s ease, transform .3s ease;
    }    
  }

  .nav-visible & {
    .lines {
      background: transparent;
      
      &:after,
      &:before {
        top: 0;
        transition: top .3s ease, transform .3s .3s ease;
      }
      
      &:after {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      
      &:before {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}

.nav-wrapper {
  @include themed() {
    background-color: t('secend-bg');
  }
  height: 100%;
  padding-top: $header-height;
  perspective: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform $nav-transition-speed, visibility $nav-transition-speed;
  visibility: hidden;
  width: $nav-width;
  overflow-y: scroll;
  z-index: 1;
  
  .nav-visible & {
    transform: translateX(0);
    visibility: visible;
  }

  .footer__menu__title {
    @include themed() {
      border-top: 1px solid t('border_color');
    }
    margin-top: rem-calc(30);
  }

  &__switcher {
    @include themed() {
      border-bottom: 1px solid t('border_color');
    }
    padding-bottom: rem-calc(15);
    padding-top: rem-calc(20);
    @include themed() {
      color: t('text-color');
    }

    font-size: rem-calc(14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .switch-box {
    @include breakpoint(header down) {
      display: block;
    }
  }
}

.nav {
  position: relative;
  transform: rotateY(90deg);
  transform-origin: left center;
  transition: transform $nav-transition-speed;
  
  .nav-visible & {
    transform: rotateY(0deg);
  }
}
