.medium-post {
  @include breakpoint(medium uo) {
    margin-bottom: rem-calc(26);
  }
  .home__title {
    margin-top: rem-calc(12);
  }
  &__filters {
    display: flex;
    width: 100%;
    margin-bottom: rem-calc(26);
    @include breakpoint(medium down) {
      white-space: nowrap;
      overflow-x: scroll;
      padding-left: rem-calc(15);
    }
    .btn--big {
      height: 5.625rem;
      line-height: 5.625rem;
    }
  }
  &__filter {
    flex: 0 0 33.33333%;
    padding-right: .9375rem;
    padding-left: .9375rem;
    @include breakpoint(medium down) {
      padding-right: rem-calc(5);
      padding-left: rem-calc(5); 
    }
    @include breakpoint(medium down) {
      .btn--big {
        padding: rem-calc(10) rem-calc(30);
        line-height: rem-calc(17);
        height: auto;
        border: none;
      }
      &:last-child {
        padding-right: rem-calc(20);
      }
    }
  }
}