<div class="post-boks">
  <div class="post-boks__header">
    <div class="post-boks__tag">{{ post.nrm_top_level_categories }}</div>
    <div class="post-boks__title"><a href="{{ post.link }}">{{ post.nrm_title }}</a></div>
    {{ post.nrm_excerpt }}
    {{ post.nrm_hot_title }} 
  </div>
  <div class="post-boks__thumbnail" style="background-image: url({{ post.nrm_image_src.oryginal }});">

    {% if post.meta('video_thumbnail') %}
      <div class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY"></div>
    {% endif %}

    <div class="post-boks__extra">
      {{ post.nrm_product_placement }}
      {{ post.nrm_brend }}
    </div>

     {% if not post.meta('video_thumbnail') %}
      <a href="{{ post.link }}"></a>
    {% endif %}
    
  </div>
</div>