<div class="row large-uncollapse medium-uncollapse small-uncollapse">
  <div class="large-12 small-12 medium-12 column">
    <div class="top-archive">
      <div class="post-boks__tag">Kategoria</div>
      <div class="home__title">{{ term_page.name }}</div>

      {% if term_description %}
        {{ term_description }}
      {% else %}
        <p></p>
      {% endif %}

      {% if term_image %}
        <div class="top-archive__img">
          <img src="{{ term_image }}" alt="">
        </div>
      {% endif %}

    </div>
  </div>
</div>