.read-more {
  &__slider {
    padding-top: rem-calc(25);
    @include breakpoint(medium down) {
      white-space: nowrap;
      overflow-x: scroll;
    }
  }
  &__slide {
    width: 32.33333%;
    @include breakpoint(medium down) {
      width: 279px;
    }
    display: inline-flex;
    padding-right: rem-calc(13);
    padding-left: rem-calc(13);

    .post-boks {
      width: 100%;
    }
  }
}