<div id="{{ block.id }}" class="special" data-easygut-id="special" style="background-color: {{ fields.color }};">
  <div class="row large-uncollapse medium-uncollapse  small-uncollapse ">
    <div class="large-12 small-12 medium-12 column">
      <div class="special__title">
        <div class="home__title home__title--big">{{ fields.title }}</div>
        {% if fields.partner %}
          <div class="special__brand">
            <div class="special__brand__txt">{{ fields.partner_txt }}</div> 
            <div><img src="{{ fields.partner_logo }}" alt="logo" /></div>
          </div>
        {% endif %}
      </div>
    </div> 
  </div>
  <div class="slider js-p-l special__posts">
    {% for post in posts %}
      <div class="special__post" data-equalizer-watch>{% include 'views/parts/PostBoks.twig' %}</div>
    {% endfor %}
  </div>
  {% if fields.partner %}
    <div class="special__brand special__brand--mobile" style="background-color: {{ fields.color }};">
      <div class="special__brand__txt">{{ fields.partner_txt }}</div> 
      <div><img src="{{ fields.partner_logo }}" alt="logo" /></div>
    </div>
  {% endif %}
</div>